<header>   
    <a href="/"> Acessar home</a>
    <a href="/products"> Acessar Produto</a>  
    <a href="/about"> Acessar Sobre</a>
    <a href="/ademir"> Acessar Ademir</a>
    <a href="/login"> Acessar Login</a>
</header>
