<html>
  <head>
      <title>Pagina de Sobre Ademir</title>
      <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <%- include("./partials/header")%>
    
    <!-- <header>   o item acima serve para substituir o cabeçalio a baixo
      <a href="/"> Acessar home</a>
      <a href="/products"> Acessar produto</a>  
      <a href="/about"> Acessar aaaabout</a>
    </header> -->


      <h1>SOBRE</h1>
      <p>Descrição do Ademir</p>
        <a href="/ademir">Clicar aqui</a>
  </body>
</html>
